<header class="mainPageHeader">
    <h1 class="topHeaderOnes">Max Reps</h1>
    <nav class="mainNav">
        <ul>
            <li><a class="hyperNavs" href="/logout">Logout</a></li>
            <li><a class="hyperNavs" href="/about">About</a></li>
            <li><a class="hyperNavs" href="/friends">Friends</a></li>
        </ul>>
    </nav>
    <a class="cta" href="#"><button>Contact</button></a>
</header>