<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
</head>
<body>
    <form action="/friends" method="POST">
        <label for="findUsername">
            Username: <input type="text" name="username">
        </label>
        <input type="submit" value="Add Friend">
    </form>
</body>
</html>