<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Pump? Well Add a New Exercise</h1>
    </header>
    <form action="/" method="post">
        Muscle Group: <input type="text" name="muscleGroup" placeholder="Muscle Group">
        Exercise: <input type="text" name="exercise" placeholder="Exercise"><br>
        Reps: <input type="text" name="reps" placeholder="Reps">
        Duration: <input type="text" name="Duration" placeholder="Duration">
        Weight: <input type="text" name="weight" placeholder="Weight"><br>
        Notes: <textarea name="notes" cols="30" rows="10" placeholder="Enter Notes"></textarea>
        <input type="submit" value="Submit">
    </form>

</body>
</html>