<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Pump? Well Add a New Exercise</h1>
    </header>
    <form action="/" method="POST">
        Muscle Group: <input list="muscle-groups" id="muscleGroup" name="muscleGroup" placeholder="Muscle Group" />
        <datalist id="muscle-groups">
            <option value="Chest">
            <option value="Back">
            <option value="Bicep">
            <option value="Tricep">
            <option value="Leg">
        </datalist>
        Exercise: <input type="text" name="exercise" placeholder="Exercise"><br>
        Sets: <input type="text" name="sets" placeholder="Sets">
        Reps: <input type="text" name="reps" placeholder="Reps">
        RPE: <input type="text" name="rpe" placeholder="RPE">
        Rest: <input type="text" name="rest" placeholder="Rest Minutes">
        <input type="submit" value="Submit">
    </form>

</body>

</html>