<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Max Reps</h1>
    </header>
    <h2>An app designed to help you track your lifts</h2>
    <nav>
        <a href="/chest">Chest</a><br>
        <a href="/back">Back</a><br>
        <a href="/bicep">Bicep</a><br>
        <a href="/tricep">Tricep</a><br>
        <a href="/leg">Legs</a><br>
        <a href="/cardio">Cardio</a>
    </nav>
</body>

</html>