<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Max Reps</h1>
    </header>
    <h2>An app designed to help you track your lifts</h2>
    <nav>
        <a href="/chest">Chest</a>
        <a href="">Back</a>
        <a href="">Bicep</a>
        <a href="">Tricep</a>
        <a href="">Legs</a>
        <a href="">Cardio</a>
    </nav>
</body>

</html>