<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('./partials/head.ejs')  %>
</head>

<body id="landingPageBody">
    <h1 id="landingPageHeader">Welcome to Max Reps</h1>
    <nav id="landingBarNav">
        <a class="landingPageHypers" href="/login">Login</a>
        <a class="landingPageHypers" href="/signup">Singup</a>
    </nav>
</body>

</html>