<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  %>
</head>

<header>
    <h1 id="newExerciseHeaderOne">Need Pump? Well Add a New Exercise</h1>
    <a id="newExerciseHomeHyper" href="/home">Home</a>
</header>

<body id="newExerciseBody">
    <form id="newExerciseForm" action="/" method="POST">
        Muscle Group: <input class = 'newExerciseTextBox' list="muscle-groups" id="muscleGroup" name="muscleGroup" placeholder="Chest Press" /><br>
        <datalist id="muscle-groups">
            <option value="Chest">
            <option value="Back">
            <option value="Bicep">
            <option value="Tricep">
            <option value="Leg">
        </datalist>
        Exercise: <input class="newExerciseTextBox" type="text" name="exercise" placeholder="Exercise"><br>
        Sets: <input class="newExerciseTextBox" type="text" name="sets" placeholder="Sets"><br>
        Reps: <input class="newExerciseTextBox" type="text" name="reps" placeholder="Reps"><br>
        RPE: <input class="newExerciseTextBox" type="text" name="rpe" placeholder="RPE"><br>
        Rest: <input class="newExerciseTextBox" type="text" name="rest" placeholder="Rest Minutes"><br>
        <input class="newExerciseTextBox" type="submit" value="Submit">
    </form>

</body>

</html>