<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body id="loginBody">
    <h1 class="loginSignupHeader">Login to Track Some Pumps!</h1>
    <% if(err) { %>
    <p style="color: red; text-transform: capitalize;"><%= err %></p>
    <% } %>
    <form class="loginAndSignupForm" action="/login" method="post">
        <label>
            Email:
            <input class="inputBoxLoginSignup" type="email" name="email">
        </label>
        <label>
            Password:
            <input class="inputBoxLoginSignup" type="password" name="password">
        </label>
        <input class="submitBtnLoginSignup" type="submit" value="Login">
    </form>
    <footer>
        <%- include("../partials/footer.ejs")%>
    </footer>
</body>

</html>