<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  %>
</head>

<body id="signupBody">
    <h1>Signup to Track Some Pumps!</h1>
    <form class="loginAndSignupForm" action="/signup" method="post">
        <label>
            Username:
            <input type="text" name="username" id="">
        </label>
        <label>
            Email:
            <input type="email" name="email">
        </label>
        <label>
            Password:
            <input type="password" name="password">
        </label>
        <input type="submit" value="Signup">
    </form>
</body>

</html>